<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Car Price Predictor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body class="bg-dark">
        <div>
            <header>
                <h1>Welcome to Car Price Predictor</h1>
            </header>
        </div>
        <div>
            <form  method="post" accept-charset="utf-8">
                <div>
                    <label for="company">Select Company:</label>
                    <select name="company" id="company" required="1" >
                        {% for c in company %}
                        <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="car_model">Select Model:</label>
                    <select name="car_model" id="car_model" required="1">
                        {% for model in car_model %}
                        <option value="{{model}}">{{model}}</option>
                        {% endfor %}
                        
                    </select>
                </div>

                <div>
                    <label for="label">Select Label:</label>
                    <select style="width: 500px;" name="label" id="label" required="1">
                        {% for l in label %}
                        <option value="{{l}}">{{l}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="location">Select location:</label>
                    <select name="location" id="location" required="1">
                        {% for l in location %}
                        <option value="{{l}}">{{l}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="fuel_type">Select Fuel Type:</label>
                    <select name="fuel_type" id="fuel_type" required="1">
                        {% for l in fuel_type %}
                        <option value="{{l}}">{{l}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="owner">Select Owner:</label>
                    <select name="owner" id="owner" required="1">
                        {% for l in owner %}
                        <option value="{{l}}">{{l}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="year">Select Year:</label>
                    <select name="year" id="year" required="1">
                        {% for l in year %}
                        <option value="{{l}}">{{l}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="kms_driven">Enter number of kilometers driven:</label>
                    <input type="text" id="kms_driven" name="kms_driven" placeholder="Enter no. of kilometers travelled">
                </div>
                <div>
                    <button onclick="send_data()">Predict Price</button>
                </div>
            </form>
            <br>
            <div>
                <h3><span id="prediction"></span></h3>
            </div>
        </div>
        <div>
            <footer>
            </footer>
        </div>
        <script>
            function form_handler(event){
                event.preventDefault();
            }
            function send_data(){
                document.querySelector('form').addEventListener('submit',form_handler);
                var fd= new FormData(document.querySelector('form'));

                var xhr=new XMLHttpRequest();

                xhr.open('POST','/predict',true);
                document.getElementById("prediction").innerHTML ="Wait! Predicting Price...";

                xhr.onreadystatechange=function()
                {
                    if(xhr.readyState==XMLHttpRequest.DONE)
                    {
                        document.getElementById("prediction").innerHTML="Prediction: ₹"+xhr.responseText;
                    }
                }
                xhr.onload=function(){};
                xhr.send(fd);
            }
        </script>
    
    </body>
</html>